/* General */
html {
  font-size: 14px;
}

* {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EDEDFD;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

li {
  list-style: none;
}

button {
  transition: 0.5s;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #EDEDFD;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #5e5eea;
}

/* Banner Section */
.banners {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0;
}
@media (min-width: 768px) {
  .banners {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }
}
@media (min-width: 1024px) {
  .banners {
    max-width: 1170px;
    margin: 0 auto;
    padding: 2rem 0;
  }
}

.btn, .newsletter-container form input[type=email], .newsletter-container .social-media i {
  border: 2px solid #5e5eea;
}

/* Deal Section */
.deal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #292929;
  color: #FFFFFF;
  padding: 2rem 0.5rem;
}
@media (min-width: 1024px) {
  .deal-container {
    flex-direction: row;
    justify-content: space-around;
    padding: 4rem 0;
  }
}
.deal-container-content {
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width: 1024px) {
  .deal-container-content {
    margin-bottom: 0;
  }
}
.deal-container-content-timer {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}
.deal-container-content .deal-container-timer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #5e5eea;
  margin: 0 1rem 2rem;
}
.deal-container-content .deal-container-timer-time {
  font-size: 1.5rem;
  font-weight: 700;
}
.deal-container-content .deal-container-timer-word {
  font-weight: 300;
}
.deal-container-content-title, .deal-container-content-subtitle {
  margin-bottom: 2rem;
}
.deal-container-content-title {
  font-size: 2rem;
}
.deal-container-content-subtitle {
  font-size: 1.5rem;
}
.deal-container-image img {
  width: 250px;
  height: 250px;
}

/* Newsletter Section */
.newsletter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0.5rem;
  border-top: 2px solid #5e5eea;
}
@media (min-width: 768px) {
  .newsletter-container {
    padding: 2rem 1rem;
  }
}
@media (min-width: 1024px) {
  .newsletter-container {
    padding: 2rem 0;
  }
}
.newsletter-container h2, .newsletter-container span {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.newsletter-container form {
  display: flex;
  width: 100%;
  margin-bottom: 3.2rem;
}
@media (min-width: 1024px) {
  .newsletter-container form {
    width: 60%;
  }
}
.newsletter-container form input[type=email] {
  width: 100%;
  height: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 25px;
  background-color: #FFFFFF;
  color: #292929;
  font-size: 0.9rem;
  font-weight: 300;
}
.newsletter-container form input[type=email]::placeholder {
  color: #C2C2C2;
}
.newsletter-container .social-media {
  margin-bottom: 1rem;
}
.newsletter-container .social-media i {
  background-color: #FFFFFF;
  color: #5e5eea;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.newsletter-container .social-media i:hover {
  background-color: #5e5eea;
  color: #FFFFFF;
}

/* Utilities */
.primary-color {
  color: #5e5eea;
}

.secondary-color {
  color: #C2C2C2;
}

.light-color {
  color: #FFFFFF;
}

.dark-color {
  color: #292929;
}

/* Banner */
.banner {
  width: 100%;
  height: 200px;
  margin-bottom: 0.5rem;
  position: relative;
  color: #FFFFFF;
  transition: 0.5s;
  background-position: center;
  background-size: cover;
  background-size: 100%;
}
@media (min-width: 768px) {
  .banner {
    margin-bottom: 0;
    width: 32%;
  }
}
@media (min-width: 1024px) {
  .banner {
    height: 250px;
  }
}
.banner:hover {
  background-size: 110%;
}
.banner-cover {
  background-color: #5e5eea;
  width: 70%;
  height: 100%;
  opacity: 0.8;
  border-bottom-right-radius: 6rem;
}
@media (min-width: 768px) {
  .banner-cover {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .banner-cover {
    width: 70%;
  }
}
.banner-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
}
@media (min-width: 768px) {
  .banner-content {
    padding: 1rem;
  }
}
@media (min-width: 1024px) {
  .banner-content {
    padding: 3rem;
  }
}
.banner h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  max-width: 70%;
}
.banner a {
  color: #FFFFFF;
  font-size: 1.5rem;
}
.banner i {
  color: #FFFFFF;
  margin-left: 0.5rem;
}

#banner-1 {
  background-image: url("../../img/banner-1.jpg");
}

#banner-2 {
  background-image: url("../../img/banner-2.jpg");
}

#banner-3 {
  background-image: url("../../img/banner-3.jpg");
}

/* Buttons */
.btn {
  background-color: #FFFFFF;
  color: #5e5eea;
  font-size: 1.2rem;
  font-weight: 700;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.btn:hover {
  background-color: #5e5eea;
  color: #FFFFFF;
}
.btn-primary {
  background-color: #5e5eea;
  color: #FFFFFF;
}
.btn-primary:hover {
  background-color: #FFFFFF;
  color: #5e5eea;
}
.btn-half {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

/*# sourceMappingURL=app.css.map */
