$primary-color: #5e5eea
$secondary-color: #C2C2C2
$light-color: #FFFFFF
$dark-color: #292929
$background-color: #EDEDFD
$card-price: #474747
$card-star: #FF8600
$font-family: 'Open Sans', sans-serif
$font-weights: ("light": 300, "regular": 400, "bold": 700)
$font-sizes: ("title": 2rem, "text": 1rem, "link": 1.3rem, "btn": 1.2rem, "input": .9rem)
$spacings: ("small": .5rem, "medium": 1rem, "large": 2rem)
$responsive: ("mobile": 425px, "tablet": 768px, "desktop": 1024px)
