@use '../1-base/variables'

@mixin img-center
    background-position: center
    background-size: cover

@mixin div-center
    display: flex
    align-items: center
    justify-content: center

%border
    border: 2px solid variables.$primary-color
